.socials {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    list-style: none;
}

.footer {
   display: flex;
  background-color: lightblue;
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;
   
}